/*///////////////////////////////////////////////////////*/
/* All Elements */
/*///////////////////////////////////////////////////////*/
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
/*	border: .02rem green solid;*/
}



/*///////////////////////////////////////////////////////*/
/* Effects */
/*///////////////////////////////////////////////////////*/
.wh-tx-a * {
	color: #f5f5f5 !important;
}

.pr-tx {
	color: #151C1F !important;
}

.se-tx {
	color: #FD3253 !important;
}

.wh-tx {
	color: #f5f5f5 !important;
}

.gr-tx {
	color: #C9C9C9 !important;
}

.pr-bg {
	background-color: #151C1F !important;
}

.wh-bg {
	background-color: #ffffff !important;
}

.cl-bg {
	background-color: transparent!important;
}

.gr-bg {
	background-color: #C9C9C9 !important;
}

.pr-br-bottom {
	border-bottom: .1rem #151C1F solid!important;
}

/* Outline Selected Element */
.outline:hover,
.outline:focus,
button:hover,
a:hover,
:focus {
	-webkit-box-shadow: 0 0 0 .2rem #FD3253 !important;
	box-shadow: 0 0 0 .2rem #FD3253 !important;
	outline: none !important;
	z-index: 1000;
}

/* Remove Outline Selection On Element */
.no_outline *:hover,
.no_outline *:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* Color Selected Element */
.hover-color a:hover,
.hover-color a:focus {
	color: #FD3253 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
	border: none !important;
}

/* Fill Selected Element Background */
.hover-fill a:hover,
.hover-fill a:focus,
.hover-fill button:hover,
.hover-fill button:focus,
.hover-fill div:hover,
.hover-fill div:focus {
	background-color: #FD3253 !important;
}

/* Fill Selected Element Background */
.fill  {
	background-color: #FD3253 !important;
}

/* Toggle Hide */
.hidden {
	visibility: hidden;
}

/* Floating Button Top Right */
.floating_btn {
	position: fixed;
	top: 4.5rem !important;
	right: 2.5%;
	z-index: 500;
	background-color: rgba(255, 255, 255, .6);
}

/* Form Style */
.btn {
	border-radius: 0rem !important;
}

/* Get Width For JS */
#remove {
	display: inline;
}

/*///////////////////////////////////////////////////////*/
/* HTML Tag Styles */
/*///////////////////////////////////////////////////////*/
h1 {
	font-size: 1.5rem !important;
}

h2 {
	font-size: 1.25rem !important;
}

h3 {
	font-size: 1rem !important;
	margin: 0rem !important;
}

h4 {
	font-size: .75rem !important;
}

h5 {
	font-size: .5rem !important;
}

body {
	padding: 1rem 1rem 0;
	background-color: #f5f5f5 !important;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 10% !important;
	height: 90vh;
	margin-bottom: 2rem !important;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1rem;
	z-index: 1000;
}

button {
	cursor: pointer;
}



/*///////////////////////////////////////////////////////*/
/* Navigation */
/*///////////////////////////////////////////////////////*/
.logo_container {
	max-width: 5% !important;
	min-width: 2rem !important;
	width: 100%;
	margin: auto;
}

.logo {
	width: 100%;
	padding-bottom: 100%;
	background-image: url("../img/logo.svg");
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.cart_count {
	padding: .05rem .5rem .1rem;
	margin: 0;
	margin-right: .5rem;
}

.nav_container {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	min-width: 11rem;
	max-width: 30%;
	height: auto;
	max-height: 100vh;
	padding: 3vh 2vw;
	overflow: scroll;
	-webkit-transform: translateX(-5%);
	transform: translateX(-5%)
	z-index: 1000;
}

.nav_element_container {
	position: relative;
	height: 100%;
	min-height: 25rem;
}

.policy_container {
	position: absolute;
	bottom: 4rem;
}

.social_container{
	position: absolute;
	bottom: 1rem;
	height: 1.5rem;
}



/*///////////////////////////////////////////////////////*/
/* Site Icons */
/*///////////////////////////////////////////////////////*/
.icon_style *:not(.outer_box) {
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	height: 1.5rem;
	width: 1.5rem;
}

.outer_box {
	width: 3rem !important;
	height: 3rem !important;
	padding: .75rem !important;
	display: inline-block !important;
}

.icon_border > * {
	border: .1rem #151C1F solid !important;
	margin: -.2rem !important;
}

/*Social Icons*/
.social_icons_wh *:not(.outer_box) {
	background-image: url("../img/social/social_icons_wh.svg");
	border-radius: .25rem !important;
	margin-right: .5rem;
}

.social_icons_gr *:not(.outer_box) {
	background-image: url("../img/social/social_icons_gr.svg");
}

.twitter_icon {
	background-position: center bottom -1.5rem;
}

.pinterest_icon {
	background-position:  center bottom;
}

.twitter_icon_gr {
	background-position: center bottom -1.3rem;
}

.pinterest_icon_gr {
	background-position:  center bottom .05rem;
}

/* Navigation Icons */
.nav_icons *:not(.outer_box) {
	background-image: url("../img/nav_icons.svg");
}

.menu_icon {
	background-position: center top .06rem;
	line-height: 0;
}

.filter_icon {
	background-position:  center bottom -2.7rem;
}

.shop_icon {
	background-position: center bottom -1.4rem;
}

.previous_icon {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background-position:  left bottom -.15rem;
}

.next_icon {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	background-position:  left bottom -.15rem;
}

.drop_down_arrow {
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-size: 7rem 7rem;
    background-clip: padding-box;
	background-position:  right -2.9rem bottom .3rem;
    padding: 0rem 0rem .25rem 0rem;
	margin: 0 !important;
	margin-top: .25rem;
	border: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	font-weight: bold;
	height: 2.35rem !important;
	width: 3.5rem;
	padding: 0  0 0 .4rem;
}



/*///////////////////////////////////////////////////////*/
/* Index */
/*///////////////////////////////////////////////////////*/
.shop_now_btn {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%); 
	width: 100%;
}

.shop_now_btn a{
	margin-top: 45%;
	width: 100%;
	max-width: 45vw;
	padding: 3%;
}



/*///////////////////////////////////////////////////////*/
/* Shop */
/*///////////////////////////////////////////////////////*/
.filter_container{
	text-align: left;
	position: fixed;
	padding: .5rem 2.5rem 1rem .5rem;
	top: 6rem;
    right: 0;
	z-index: 1000;
	width: auto;
}

.filter_form_control {
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-size: 7rem 7rem;
    padding: 0rem 0rem .25rem 0rem;
	margin: 0 !important;
	margin-top: .25rem;
    background-clip: padding-box;
	border: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	font-weight: bold;
	background-image: url("../img/down_arrow_and_underline.svg");
	background-position: right top 80%;
	background-size: 15rem;
	width: 55%;
}

.filter_results {
	margin-top: 1rem;
}


.filter_results a {
	color: #151C1F !important;
}

.product_container {
	width: calc(100%/3*.9);
	height: 100%;
	padding-top: calc(100%*.75/3); 
	min-width: 15rem;
	min-height: 15rem;
	background-position: center top -1rem;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin: .5rem .5rem;
	display: inline-block;
	background-color: #f5f5f5;
}

.product_container:hover,
.product_container:focus {
	-webkit-box-shadow: .05rem .05rem .4rem .5rem rgba(0, 0, 0, 0.02);
	box-shadow: .05rem .05rem .4rem .5rem rgba(0, 0, 0, 0.02);
	-webkit-filter: brightness(1.04);
	filter: brightness(1.04);
}

.product {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.product h3 {
	font-weight: bold;
	margin-bottom: .3rem;
}

.product h4 {
	color: red;
	margin-top: .5rem;
	margin-bottom: 0rem;
}



/*///////////////////////////////////////////////////////*/
/* Shoe Info */
/*///////////////////////////////////////////////////////*/
.shoe_info_container {
	position: relative;
	height: 90vh;
}

.shoe_header_text {
	margin-top: 3.5rem;
	margin-bottom: .5rem;
	text-align: center;
	width: 100%;
}

.shoe_header_text h1 {
	font-weight: bold;
	margin-bottom: .1rem
}

.shoe_header_text h3 {
	color: red;
	margin-bottom: .1rem
}

.main_img {	
	width: 100% !important;
}

.img_select_container {
	width: 100%;
	margin-top: 2.5%;
}

.carousel {
	overflow: hidden;
	width: 100% !important;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    -webkit-transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-control-next, .carousel-control-prev {
background-color: black;
    opacity: 0.05 !important;
}

.carousel-control-next {
	right: 0 !important;
}

.carousel-control-prev {
	left: 0 !important;
}

.select_img {
	width: 15%;
	margin: 2.5%;
	display: inline-block;
	border: .09rem black solid;
	opacity: .5;
}

.select_img:hover,
.select_img:focus {
	opacity: 1 !important;
}

.active {
	opacity: 1;
}

.shoe_info {
	padding: 3rem 1rem !important;
}

.shoe_text {
	padding: 0;
	text-align: left;
	margin-bottom: 3rem;
}

.add_to_cart {
	width: 100%;
}

.share_container {
	margin: 10% 0 0;
}

.modal-lg {
	max-width: 95vw !important;
	margin: .5rem auto !important;
}



/*///////////////////////////////////////////////////////*/
/* About / Disclaimer / Return Policy */
/*///////////////////////////////////////////////////////*/
.text_container {
	margin: 3rem auto 0;
	width: 90%;
}

.text_container h3 {
	margin: 3rem 0 !important;
}



/*///////////////////////////////////////////////////////*/
/* Contact */
/*///////////////////////////////////////////////////////*/
.contact_input {
	padding: 0 5%;
}

.contact_input div{
	padding:  1rem 5%;
}

.contact_input label {
	margin-top: .3rem;
	padding: 0;
	padding-right: 1rem;
	text-align: right;
	max-width: 31% !important;
}

.contact_input input {
	height: 2rem;
}

#message {
	height: 20vh;
}

.spam_img {
	max-width: 40% !important;
}



/*///////////////////////////////////////////////////////*/
/* Subtotal */
/*///////////////////////////////////////////////////////*/
.subtotal_container {
	margin: 2rem 20%;
}

.cart_product {
	padding: 5% 0 !important;
	margin: 0 !important;
}

.cart_img {
	width: 100% !important;
	min-width: 4rem;
}

.cart_middle {
	margin: auto;
}

.item_count {
	text-align: center;
	border: .05rem #151C1F solid;
	width: 5vw !important;
	height: 5vw !important;
	max-width: 4rem;
	max-height: 4rem;
	margin-right: 1vw;
}

.cart_middle button {
	width: 3vw !important;
	height: 3vw !important;
	max-width: 4rem;
	max-height: 4rem;
	padding-bottom: .35rem !important;
}

.cart_middle button:hover,
.cart_middle button:focus {
	font-weight: bold;
}

.product_count {
	margin-left: 20% !important;
}



/*///////////////////////////////////////////////////////*/
/* Media Query */
/*///////////////////////////////////////////////////////*/

/* Max-Width: 325px and Orientation: Landscape */
@media screen and (max-width: 625px) and (orientation: landscape) {
	/* Effects */
	.floating_btn {
		top: 4.5rem !important;
	}
	
	/* Shoe Info */
	.row .carousel {
		width: 25rem !important;
		margin: 0 auto;
	}
	
	/* Contact */
	.contact_input {
		padding: 0 5%;
	}

	.spam_img {
		max-width: 50% !important;
	}
}



/* Min-Width: 625px */
@media screen and (min-width: 625px) {
	/* Effects */
	.floating_btn {
		margin-top: 2% !important;
	}
	
	/* HTML Tag Styles */
	h1 {
		font-size: 1.75rem !important;
	}
	
	/* About / Disclaimer / Return Policy */
	.text_container {
		width: 80%;
	}

	.text_container h3 {
		margin: 3rem 0 !important;
	}
		
	/* Contact */
	.contact_input {
		padding: 0 10%;
	}

	.contact_input div{
		padding:  1rem 10%;
	}

	.contact_input label {
		max-width: 20% !important;
	}
	
	.spam_img {
		max-width: 30% !important;
	}
}



/* Min-Width: 925px */
@media screen and (min-width: 925px) {
	/* Effects */
	/* Center In Col */
	.middle {
		padding-bottom: 50% !important;
		transform: translateY(50%) !important;
	}
	
	/* HTML Tag Styles */
	h1 {
		font-size: 2.7rem !important;
	}

	h2 {
		font-size: 1.45rem !important;
	}

	h3 {
		font-size: 1.2rem !important;
		margin: 0rem !important;
		line-height: 1.75rem !important;
	}

	h4 {
		font-size: .95rem !important;
		line-height: 1.5rem !important;
	}

	h5 {
		font-size: .7rem !important;
		line-height: 1.25rem !important;
	}
	
	header h3 {
		line-height: 1rem !important;
	}
	
	body {
		margin-top: 5% !important;
	}
	
	/*	Index	*/
	.shop_now_btn a{
		max-width: 25rem;
		padding: 2rem;
		margin-bottom: 2rem;
	}
	
	/* Shop */
	.filter {
		visibility: hidden;
	}
	
	.filter_container {
		text-align: center;
		position: static;
		padding: 1.5rem 0 1rem 0;
		z-index: 1000;
		width: 100%;
		background-color: transparent!important;
		visibility: visible;
	}
	
	.filter_container div{
		display: inline-block;
		margin: 2rem 1rem !important;
	}
	
	.product {
		bottom: -.5rem;
	}
	
	/*	Shoe Info */
	.shoe_header_text {
		margin-top: -2rem;		
		position: absolute;
		left: 0;
		right: 0;
		top: 6rem;
		z-index: 100;
	}
	
	.shoe_info_container .col-m {
		padding: 9rem 0 2rem !important;
	}
	
	.shoe_text_container {
		padding: 0rem 20% !important;
		height: 100%;
	}
	
	.shoe_text {
		height: 60%;
		margin-bottom: 0rem;
	}
	
	.shoe_text h4{
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%); 
	}
	
	.col-m {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-grow: 1;
		max-width: 100%;
	}
	
	.share_container {
	margin: 25% 0 0;
}
	
	/* Contact */
	.contact_input {
		padding: 0 15%;
	}

	.contact_input div{
		padding:  1.5rem 10%;
	}
	
	.spam_img {
		max-width: 25% !important;
	}
}



/* Min-Width: 1225px */
@media screen and (min-width: 1225px) {
	/* Effects */
	.floating_btn {
		margin-top: 2.5rem !important;
	}
	
	/* HTML Tag Styles */
	h1 {
		font-size: 2.75rem !important;
	}

	h2 {
		font-size: 1.5rem !important;
	}

	h3 {
		font-size: 1.25rem !important;
		margin: 0rem !important;
	}

	h4 {
		font-size: 1rem !important;
	}

	h5 {
		font-size: .75rem !important;
	}
		
	body {
		background-position: center top !important;	
		margin-top: 4rem !important;
	}
	
	/* Navigation */
	.logo_container {
		max-width: 4rem !important;
	}
	
	.nav_container {
		height: 100vh;
		overflow: hidden;
	}
	
	/* Index */
	.shop_now_btn {
		position: static;
		margin-top: 45%;
	}

	.shop_now_btn a{
		margin-top: 10%;
	}
	
	/* About / Disclaimer / Return Policy */
	.text_container {
		width: 70%;
	}
	
	/* Contact */
	.contact_input {
		padding: 0 15%;
	}

	.contact_input div{
		padding:  2rem 15%;
	}

}

/* Min-Width: 1825px */
@media screen and (min-width: 1825px) {
	/* HTML Tag Styles */
	h1 {
		font-size: 3.75rem !important;
	}

	h2 {
		font-size: 1.75rem !important;
	}

	h3 {
		font-size: 1.5rem !important;
		margin: 0rem !important;
	}

	h4 {
		font-size: 1.25rem !important;
	}

	h5 {
		font-size: 1rem !important;
	}
		
	/*	Shoe Info */
	.shoe_info_container .col-m {
		padding-top: 12rem; 
	}
	
	/* About / Disclaimer / Return Policy */
	.text_container {
		width: 60%;
	}
	
	/* Contact */
	.contact_input {
		padding: 0 20%;
	}

	.contact_input div{
		padding:  2rem 20%;
	}

}
