/*///////////////////////////////////////////////////////*/
/* All Elements */
/*///////////////////////////////////////////////////////*/
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
/*	border: .02rem green solid;*/
}



/*///////////////////////////////////////////////////////*/
/* Effects */
/*///////////////////////////////////////////////////////*/
.wh-tx-a * {
	color: #f5f5f5 !important;
}

.pr-tx {
	color: #151C1F !important;
}

.se-tx {
	color: #FD3253 !important;
}

.wh-tx {
	color: #f5f5f5 !important;
}

.gr-tx {
	color: #dededf !important;
}

.pr-bg {
	background-color: #151C1F !important;
}

.wh-bg {
	background-color: #ffffff !important;
}

.cl-bg {
	background-color: transparent!important;
}

.gr-bg {
	background-color: #dededf !important;
}

.pr-br {
	border: .1rem #151C1F solid !important;
}

/* Outline Selected Element */
button:hover,
a:hover,
:focus {
	-webkit-box-shadow: 0 0 0 .2rem #FD3253 !important;
	box-shadow: 0 0 0 .2rem #FD3253 !important;
	outline: none !important;
}

/* Remove Outline Selection On Element */
.no_outline button:hover,
.no_outline button:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* Color Selected Element */
.hover-color a:hover,
.hover-color a:focus {
	color: #FD3253 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
	border: none !important;
}

/* Fill Selected Element Background */
.hover-fill a:hover,
.hover-fill a:focus,
.hover-fill button:hover,
.hover-fill button:focus {
	background-color: #FD3253 !important;
}

/* Toggle Hide */
.hidden {
	visibility: hidden;
}

/* Floating Button Top Right */
.floating_btn {
	position: fixed;
	top: 5rem;
	right: 2.5%;
	z-index: 100;
	background-color: rgba(255, 255, 255, .6)
}

/* Form Style */
.form_control {
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-size: 7rem 7rem;
    padding: 0rem .1rem .25rem 0rem;
	margin: 0 !important;
	margin-top: .25rem;
    line-height: 1.25;
    background-clip: padding-box;
	border: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	font-weight: bold;
}
.btn {
	border-radius: 0rem !important;
}



/*///////////////////////////////////////////////////////*/
/* HTML Tag Styles */
/*///////////////////////////////////////////////////////*/
h1 {
	font-size: 1.5rem !important;
}

h2 {
	font-size: 1.25rem !important;
}

h3 {
	font-size: 1rem !important;
	margin: 0rem !important;
}

h4 {
	font-size: .75rem !important;
}

h5 {
	font-size: .5rem !important;
}

body {
	padding: 1rem 1rem 0;
	background-color: #f5f5f5 !important;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 2rem !important;

}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1rem;
	z-index: 1000;
}

button {
	cursor: pointer;
}



/*///////////////////////////////////////////////////////*/
/* Navigation */
/*///////////////////////////////////////////////////////*/
.logo {
	max-width: 2rem !important;
}

.cart_count {
	padding: .1rem .38rem .2rem;
	margin: 0;
	margin-right: .5rem;
}

.nav_container {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	min-width: 11rem;
	max-width: 30%;
	height: auto;
	padding: 3rem 2rem;
	overflow: scroll;
	z-index: 1000;
}

.nav_btn_container {
	margin-bottom: 40vh;
}

.social_container{
	height: 1.5rem;
}



/*///////////////////////////////////////////////////////*/
/* Site Icons */
/*///////////////////////////////////////////////////////*/
.social {
	background-image: url("../img/social/socail_links.svg");
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: .25rem;
	margin-right: .5rem;
}

.twitter {
	background-position: 0 -1.5rem;
}

.pinterest {
	background-position: 0 -3.05rem;
}

.site_icons {
	background-image: url("../img/site_icons.svg");
	background-size: cover;
	display: inline-block;
	text-indent: -9999px;
	height: 1.76rem;
	width: 1.76rem;
}

.menu_icon {
	background-position:  center top;
	height: 1rem;
	width: 1rem;
}

.filter_icon {
	background-position:  center top -1.45rem;
}

.shop_icon {
	background-position:  right .066rem top -3.195rem;
}

.previous_icon {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background-position:  left 1.6rem top -4.65rem;
	margin: -.4rem !important;
}

.next_icon {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	background-position:  right 1.6rem top -4.65rem;
}



/*///////////////////////////////////////////////////////*/
/* Index */
/*///////////////////////////////////////////////////////*/
.shop_now_btn {
	margin-top: 68vh;
}



/*///////////////////////////////////////////////////////*/
/* Shop */
/*///////////////////////////////////////////////////////*/
.filter_container{
	text-align: left;
	position: fixed;
	padding: .5rem .5rem 1rem .5rem;
    right: 0;
	z-index: 1000;
	width: 36%;
}

.filter_form_control {
	width: 56%;
	background-image: url("../img/down_arrow_and_underline.svg");
	background-position: right .2rem top -2.75rem;
}

.filter_results {
	margin-top: 1rem;
}

.product_container {
	width: 49vh;
	height: 49vh;
	min-width: 15rem;
	min-height: 15rem;
	max-width: 40rem;
	max-height: 40rem;
	background-position: center top -1rem;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin: .5rem .5rem;
	display: inline-block;
	background-color: #f5f5f5;
}

.product_container:hover,
.product_container:focus {
	-webkit-box-shadow: .05rem .05rem .4rem .5rem rgba(0, 0, 0, 0.02);
	box-shadow: .05rem .05rem .4rem .5rem rgba(0, 0, 0, 0.02);
	-webkit-filter: brightness(1.04);
	filter: brightness(1.04);
}

.product {
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
}

.product h3 {
	font-weight: bold;
	margin-bottom: .3rem;
}

.product h4 {
	color: red;
	margin-bottom: 0rem;
}



/*///////////////////////////////////////////////////////*/
/* Shoe Info */
/*///////////////////////////////////////////////////////*/
.shoe_info_container {
	position: relative;
/*	height: 90vh;*/
}

.shoe_header_text {
	margin-top: 3.5rem;
	margin-bottom: .5rem;
	text-align: center;
	width: 100%;
/*
	position: absolute;
	left: 0;
	right: 0;
	top: 4rem;
	z-index: 100;
*/
}

.shoe_header_text h1 {
	font-weight: bold;
	margin-bottom: .1rem
}

.shoe_header_text h3 {
	color: red;
	margin-bottom: .1rem
}

.main_img {	
	width: auto !important;
	max-width: 100%;
}

.img_select_container {
	width: 100%;
	margin-top: 2.5%;
}

.carousel {
	overflow: hidden;
	width: 100% !important;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    -webkit-transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-control-next, .carousel-control-prev {
background-color: black;
    opacity: 0.05 !important;
}

.carousel-control-next {
	right: 0 !important;
}

.carousel-control-prev {
	left: 0 !important;
}

.select_img {
	width: 15%;
	margin: 2.5%;
	display: inline-block;
	border: .09rem black solid;
	opacity: .5;
}

.select_img:hover,
.select_img:focus {
	opacity: 1 !important;
}

.active {
	opacity: 1;
}

.shoe_info {
	padding: 3rem 0;
}

.shoe_info_form_control {
	text-align: center;
	width: 6rem;
	height: 2.35rem;
	background-image: url("../img/site_icons.svg");
	background-position:  right -1.6rem top -4.95rem;
	padding: 0 1.5rem;
	margin-right: -.3rem !important;
}

.shoe_text {
	margin: 1rem auto 1rem;
}

.share_container h4{
	font-weight: bold;
	margin-top: 4rem;
}

.share_container a {
	background-image: url("../img/social/socail_links_gray.svg");
	margin-top: .5rem
}

.modal-lg {
	max-width: 70vw !important;
}

/*///////////////////////////////////////////////////////*/
/* Shoe View */
/*///////////////////////////////////////////////////////*/

