/* All Elements */
* {
	box-sizing: border-box;
/*	border: .02rem green solid;*/
}

/* Effects */
.wh-tx-a * {
	color: #f5f5f5 !important;
}

.pr-tx {
	color: #151C1F !important;
}

.se-tx {
	color: #FD3253 !important;
}

.wh-tx {
	color: #f5f5f5 !important;
}

.gr-tx {
	color: #dededf !important;
}

.pr-bg {
	background-color: #151C1F !important;
}

.wh-bg {
	background-color: #ffffff !important;
}

.cl-bg {
	background-color: transparent!important;
}

.gr-bg {
	background-color: #dededf !important;
}

.hover a:hover,
.hover a:focus {
	color: #FD3253 !important;
	box-shadow: none !important;
	text-decoration: none !important;
	border: none !important;

}

.outline a:hover,
button:hover,
a:hover, 
.outline a:focus,
:focus {
	box-shadow: 0 0 0 .2rem #FD3253 !important;
	outline: none !important;
}

.hidden {
	visibility: hidden;
}

/* HTML Tag Styles */
h1 {
	font-size: 1.5rem !important;
}

h2 {
	font-size: 1.25rem !important;
}

h3 {
	font-size: 1rem !important;
	margin: 0rem !important;
}

h4 {
	font-size: .75rem !important;
}

h5 {
	font-size: .5rem !important;
}

body {
	padding: 1rem;
	background-color: #f5f5f5 !important;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 2rem !important;

}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1rem;
	z-index: 1000;
}

button {
	cursor: pointer;
}

/* Navigation */
.logo {
	max-width: 2rem !important;
}

.cart_count {
	padding: .1rem .38rem .2rem;
	margin: 0;
	margin-right: .5rem;
}

.nav_container {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	min-width: 11rem;
	max-width: 30%;
	height: auto;
	padding: 3rem 2rem;
	overflow: scroll;
	z-index: 1000;
}

.nav_btn_container {
	margin-bottom: 40vh;
}
.social_container{
	height: 1.5rem;
}

.social {
	background-image: url("../img/social/socail_links.svg");
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: .25rem;
	margin-right: .5rem;
}

.social:hover,
.social:focus {
	background-color: #FD3253 !important;
}

.twitter {
	background-position: 0 -1.5rem;
}

.pinterest {
	background-position: 0 -3.05rem;
}

.site_icons {
	background-image: url("../img/site_icons.svg");
	background-size: cover;
	display: inline-block;
	text-indent: -9999px;
	height: 1.75rem;
	width: 1.75rem;
}

.menu_icon {
	background-position:  center top;
	height: 1rem;
	width: 1rem;
}

.filter_icon {
	background-position:  center top -1.45rem;
}

.shop_now_btn {
	margin-top: 68vh;
}

.filter_btn {
	position: fixed;
	top: 4.5rem;
	right: 2.5%;
	z-index: 100;
}

.filter_container{
	text-align: center;
	position: fixed;
	padding: .5rem .5rem 1rem .5rem;
    right: 0;
	z-index: 1000;
}

.form_control {
	-webkit-appearance: none;
	width: auto;
	background-image: url("../img/site_icons.svg");
	background-repeat: no-repeat;
	background-position:  right -2rem top -5.05rem;
	background-size: 7rem 7rem;
    padding: .375rem 2.75rem .375rem .75rem;
    line-height: 1.25;
    background-clip: padding-box;
	border: none;
    border-bottom: .2rem solid #151C1F;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-weight: bold;
}

.filter_results {
	margin-top: 1rem;
}

.product_container {
	width: 49vh;
	height: 49vh;
	min-width: 15rem;
	min-height: 15rem;
	max-width: 40rem;
	max-height: 40rem;
	background-position: center top -1rem;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin: .5rem .5rem;
	display: inline-block;
	background-color: #f5f5f5;
}

.product_container:hover,
.product_container:focus {
	box-shadow: .05rem .05rem .4rem .5rem rgba(0, 0, 0, 0.02);
	filter: brightness(1.04);
}

.product {
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
}

.product h3 {
	font-weight: bold;
	margin-bottom: .3rem;
}

.product h4 {
	color: red;
	margin-bottom: 0rem;
}
